<section class="wow animate__fadeIn">
    <div class="container margin-40px-bottom sm-margin-20px-bottom">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto text-center">
                <h4 class="alt-font text-uppercase font-weight-400">Other Article</h4>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
          <% @articles.each_with_index do |article, index| %>
            <!-- start services item -->
            <div class="col-12 col-md-6 margin-40px-bottom sm-margin-20px-bottom wow animate__fadeInUp">
                <div class="margin-20px-bottom overflow-hidden image-hover-style-1">
                  <a href="<%= article_path(article) %>">
                    <%= image_tag url_for(article.image.variant(resize_to_fill: [600, 340])), class: "w-100" %>
                  </a>
                </div>
                <div>
                  <a href="<%= article_path(article) %>" class="alt-font margin-10px-bottom d-block text-extra-large text-extra-dark-gray font-weight-400"><%= article.title %></a>
                  <p><%= article.short_description %></p>
                </div>
            </div>
            <!-- end services item -->
          <% end %>
      </div>
    </div>
</section>
