<section class="big-section pb-5 wow animate__fadeIn fadeInUp">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12 col-lg-9 col-md-10 mx-auto text-center">
              <span class="w-90 mx-auto d-inline-block sm-w-100"><%= @article.published_date_label('%B %m, %Y') %></span>
              <h3 class="alt-font text-script font-weight-400"><%= @article.title %></h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="col-12 margin-40px-bottom sm-margin-20px-bottom wow animate__fadeInUp">
              <div class="margin-20px-bottom overflow-hidden">
                  <%= image_tag url_for(@article.image.variant(resize_to_fill: [1024, 450])), class: "w-100" %>
              </div>
          </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 col-md-10 mx-auto line-height-28 last-paragraph-no-margin wow animate__fadeInUp">
              <%= raw @article.content %>
            </div>
        </div>
    </div>
</section>
<%= render "other_articles" %>
