<%= form_with url: contact_path, method: :post, local: true, html: { class: "contact-form" } do |f| %>
  <div class="mb-4">
    <%= f.text_field :name, placeholder: "Your Name", class: "form-control", required: true %>
  </div>

  <div class="mb-4">
    <%= f.email_field :email, placeholder: "Your E-mail", class: "form-control", required: true %>
  </div>

  <div class="mb-4">
    <%= f.text_area :message, placeholder: "Your Message", rows: 5, class: "form-control", required: true %>
  </div>

  <div class="text-center">
    <%= f.submit "Send", class: "btn btn-mill" %>
  </div>
<% end %>
