<!-- Footer -->
<footer class="mill-footer">
  <div class="container">
    <div class="row">
      <!-- Logo Column -->
      <div class="col-12 col-md-3 mb-4 mb-md-0">
        <%= link_to root_path, class: "d-block" do %>
          <%= image_tag("logo-white.png", alt: "MiLL ALUMINIUM", class: "footer-logo") %>
        <% end %>
      </div>

      <!-- Navigation Column 1 -->
      <div class="col-6 col-md-2 mb-4 mb-md-0">
        <ul>
          <li><%= link_to "HOME", root_path %></li>
          <li><%= link_to "ABOUT", about_path %></li>
          <li><%= link_to "PRODUCTS", products_path %></li>
          <li><%= link_to "PROJECTS", projects_path %></li>
        </ul>
      </div>

      <!-- Navigation Column 2 -->
      <div class="col-6 col-md-2 mb-4 mb-md-0">
        <ul>
          <li><%= link_to "ARTICLES", articles_path %></li>
          <li><%= link_to "EVENTS", events_path %></li>
          <li><%= link_to "CONTACT US", contact_path %></li>
        </ul>
      </div>

      <!-- Office Address Column -->
      <div class="col-12 col-md-2 mb-4 mb-md-0">
        <h6>OUR OFFICE</h6>
        <p class="mb-0">
          <%= raw configatron.company_address %>
        </p>
      </div>

      <!-- Contact Column -->
      <div class="col-12 col-md-3">
        <h6>CONTACT US</h6>
        <p class="mb-2">
          <%= link_to configatron.company_phone, "tel:#{configatron.company_phone}" %>
        </p>
        <p class="mb-3">
          <%= link_to configatron.company_email, "mailto:#{configatron.company_email}" %>
        </p>
        <div class="mb-3">
          <strong>FOLLOW US</strong>
        </div>
        <div class="social-icons">
          <a href="<%= configatron.social_instagram_url %>" target="_blank" aria-label="Instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="<%= configatron.social_facebook_url %>" target="_blank" aria-label="Facebook">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="<%= configatron.social_youtube_url %>" target="_blank" aria-label="YouTube">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <div class="row align-items-center">
        <div class="col-md-6 mb-3 mb-md-0">
          <p class="text-center text-md-start">
            <%= link_to "Privacy Policy", "#" %> &nbsp;&nbsp;
            <%= link_to "Terms & Condition", "#" %>
          </p>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <p>BRING THE OUTDOORS INDOORS</p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 text-center text-md-end">
          <p>&copy;2025 - Milla Aluminium. All right reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>

