<!-- start header -->
<header class="no-sticky">
    <!-- start navigation -->
    <nav class="navbar full-width-pull-menu navbar-top-scroll no-border-top nav-box-width white-link no-transition">
        <!-- start navigation panel -->
        <div class="container-fluid nav-header-container h-100px sm-h-70px">
            <!-- start logo -->
            <div class="col-auto ps-0">
              <%= link_to root_path, title: "Mill", class: "logo" do %>
                <%= image_tag("logo-white.png", alt: "Mill") %>
              <% end %>
            </div>
            <!-- end logo -->
            <!-- start main menu -->
            <div class="col-auto pe-0">
                <div class="menu-wrap full-screen">
                    <div class="row g-0 h-100 justify-content-center">
                        <div class="col-md-5 p-0 text-center z-index-0 d-none d-md-flex flex-column justify-content-center">
                            <div class="z-index-minus1 opacity-medium bg-extra-dark-gray"></div>
                            <%= link_to root_path, title: "Mill" do %>
                              <%= image_tag("logo-white.png", alt: "Mill") %>
                            <% end %>
                        </div>
                        <div id="parentMenuMill" class="col-md-7 px-0 full-screen d-flex flex-column justify-content-center xs-padding-45px-tb bg-dark-gray">
                          <div style="z-index:999">
                            <div class="w-100 overflow-auto">
                              <div class="h-100 w-100">
                                <div class="h-100 w-100 overflow-hidden align-middle text-center text-md-end padding-six-lr alt-font link-style-2 lg-padding-six-lr xs-padding-15px-lr">
                                  <div class="d-block d-md-none">
                                    <%= link_to root_path, title: "Mill" do %>
                                      <%= image_tag("logo-black.png", class: "w-180px", alt: "Mill") %>
                                    <% end %>
                                  </div>
                                  <!-- start menu -->
                                  <ul class="font-weight-400 no-padding-left mt-0 mb-0">
                                    <li class="home"><a class="<%= 'active' if is_home_page? %>" href="<%= root_url %>">Home</a></li>
                                    <li class="about"><a class="<%= 'active' if is_about_page? %>" href="<%= about_url %>">About</a></li>
                                    <li class="products"><a class="<%= 'active' if is_products_page? %>" href="<%= products_url %>">Products</a></li>
                                    <li class="projects"><a class="<%= 'active' if is_projects_page? %>" href="<%= projects_url %>">Projects</a></li>
                                    <li class="articles"><a class="<%= 'active' if is_articles_page? %>" href="<%= articles_url %>">Articles</a></li>
                                    <li class="contact"><a class="<%= 'active' if is_contact_page? %>" href="<%= contact_url %>">Contact Us</a></li>
                                  </ul>
                                  <!-- end menu -->
                                  <!-- start social links -->
                                  <div class="margin-seven-top">
                                    <div class="icon-social-large">
                                      <a href="<%= configatron.social_facebook_url %>" target="_blank" class="text-extra-dark-gray hover-style-facebook margin-one-lr"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
                                      <a href="<%= configatron.social_instagram_url %>" target="_blank" class="text-extra-dark-gray hover-style-instagram margin-one-lr"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                                      <a href="<%= configatron.social_whatsapp_url %>" target="_blank" class="text-extra-dark-gray hover-style-whatsapp margin-one-lr"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i></a>
                                      <a href="<%= configatron.social_youtube_url %>" target="_blank" class="text-extra-dark-gray hover-style-youtube margin-one-lr"><i class="fa-brands fa-youtube" aria-hidden="true"></i></a>
                                      <a href="<%= configatron.social_tiktok_url %>" target="_blank" class="text-extra-dark-gray hover-style-tiktok margin-one-lr"><i class="fa-brands fa-tiktok" aria-hidden="true"></i></a>
                                    </div>
                                  </div>
                                  <!-- start social links -->
                                </div>
                              </div>
                            </div>
                            <button class="close-button-menu" id="close-button"></button>
                          </div>
                        </div>
                    </div>
                </div>
                <!-- end main menu -->
                <button class="navbar-toggler mobile-toggle" type="button" id="open-button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
        <!-- end navigation panel -->
    </nav>
    <!-- end navigation -->
</header>
<!-- end header -->
