<!-- start aluminium solutions section -->
<section class="wow animate__fadeIn aluminium-solutions-section" id="aluminium-solutions">
    <div class="container">
        <!-- Bottom Row: 3 Images portrait -->
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-4 col-md-6 mb-4 mb-lg-0 wow animate__fadeInUp" data-wow-delay="0.1s">
                <div class="aluminium-image-wrapper floating-card">
                    <div class="aluminium-image">
                        <%= image_tag('placeholder-3.jpg', alt: 'Premium aluminium sliding doors', class: 'img-fluid') %>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 mb-4 mb-lg-0 wow animate__fadeInUp" data-wow-delay="0.2s">
                <div class="aluminium-image-wrapper floating-card">
                    <div class="aluminium-image">
                        <%= image_tag('placeholder-5.jpg', alt: 'Expansive aluminium glass walls', class: 'img-fluid') %>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 wow animate__fadeInUp" data-wow-delay="0.3s">
                <div class="aluminium-image-wrapper floating-card">
                    <div class="aluminium-image">
                        <%= image_tag('placeholder-4.jpg', alt: 'Minimalist aluminium window frames', class: 'img-fluid') %>
                    </div>
                </div>
            </div>
        </div>

        <!-- Center: Text Description -->
        <div class="row justify-content-center mb-5">
            <div class="col-12 col-lg-10 col-md-11 wow animate__fadeIn" data-wow-delay="0.6s">
                <div class="aluminium-text">
                    Aluminium solutions that <em>seamlessly</em> extend your living space, framing panoramic views while bringing <em>light</em>, <em>openness</em>, and <em>comfort</em> into your everyday life.
                </div>
            </div>
        </div>

        <!-- Bottom Row: 2 Images landscape -->
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-6 -md-6 mb-5 wow animate__fadeInUp" data-wow-delay="0.4s">
                <div class="aluminium-image-wrapper floating-card">
                    <div class="aluminium-image">
                        <%= image_tag('placeholder-1.jpg', alt: 'Modern aluminium window solution with panoramic views', class: 'img-fluid') %>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 mb-5 wow animate__fadeInUp" data-wow-delay="0.5s">
                <div class="aluminium-image-wrapper floating-card">
                    <div class="aluminium-image">
                        <%= image_tag('placeholder-2.jpg', alt: 'Sleek aluminium framing for contemporary architecture', class: 'img-fluid') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end aluminium solutions section -->
