<!-- start slider section -->
<section class="">
  <div class="container mb-4">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto text-center">
              <h5 class="alt-font text-extra-dark-gray mb-2"><%= t('gallery.caption') %></h5>
              <h3 class="alt-font text-extra-dark-gray font-weight-400"><%= t('gallery.title') %></h3>
              <p class="w-80 mx-auto d-inline-block sm-w-100"><%= t('gallery.desc') %></p>
          </div>
      </div>
  </div>
  <div class="container-fluid">
    <div class="swiper-bottom-scrollbar-full swiper" data-slider-options='{ "slidesPerView": "auto", "allowTouchMove":true, "grabCursor":true, "spaceBetween": 30, "keyboardControl":true, "speed":1000, "keyboard": { "enabled": true }, "scrollbar": { "el": ".swiper-scrollbar", "draggable": true, "hide": false, "snapOnRelease": true }, "mousewheel":{ "enable": true }, "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev" }, "pagination": { "el": null } }' >
      <div class="swiper-wrapper">
        <!-- start slider item -->
        <div class="swiper-slide w-auto sm-h-auto last-paragraph-no-margin sm-margin-20px-bottom">
          <div class="h-100 d-flex align-items-center">
            <div class="d-block position-relative">
              <%= image_tag('img/img6.png') %>
              <p class="bottom-text w-100 text-extra-small text-uppercase text-center">Mill Aesthetic Center</p>
            </div>
            <div class="hover-title-box padding-55px-lr w-300px md-w-100 md-padding-20px-lr">
              <div class="separator w-50px bg-deep-pink d-none d-xl-inline-block sm-margin-lr-auto"></div>
              <h3 class="font-weight-400 text-deep-pink alt-font">Filler Studio</h3>
            </div>
          </div>
        </div>
        <!-- end slider item -->
        <!-- start slider item -->
        <div class="swiper-slide w-auto sm-h-auto last-paragraph-no-margin sm-margin-20px-bottom">
          <div class="h-100 d-flex align-items-center">
            <div class="d-block position-relative">
              <%= image_tag('img/img7.png') %>
              <p class="bottom-text w-100 text-extra-small text-uppercase text-center">Mill Aesthetic Center</p>
            </div>
            <div class="hover-title-box padding-55px-lr w-300px md-w-100 md-padding-20px-lr">
              <div class="separator w-50px bg-deep-pink d-none d-xl-inline-block sm-margin-lr-auto"></div>
              <h3 class="font-weight-400 text-deep-pink alt-font">Tailoring Face</h3>
            </div>
          </div>
        </div>
        <!-- end slider item -->
        <!-- start slider item -->
        <div class="swiper-slide w-auto sm-h-auto last-paragraph-no-margin sm-margin-20px-bottom">
          <div class="h-100 d-flex align-items-center">
            <div class="d-block position-relative">
              <%= image_tag('img/img8.png') %>
              <p class="bottom-text w-100 text-extra-small text-uppercase text-center">Mill Aesthetic Center</p>
            </div>
            <div class="hover-title-box padding-55px-lr w-300px md-w-100 md-padding-20px-lr">
              <div class="separator w-50px bg-deep-pink d-none d-xl-inline-block sm-margin-lr-auto"></div>
              <h3 class="font-weight-400 text-deep-pink alt-font">Digital Beauty</h3>
            </div>
          </div>
        </div>
        <!-- end slider item -->
        <!-- start slider item -->
        <div class="swiper-slide w-auto sm-h-auto last-paragraph-no-margin sm-margin-20px-bottom">
          <div class="h-100 d-flex align-items-center">
            <div class="d-block position-relative">
              <%= image_tag('img/img1.png') %>
              <p class="bottom-text w-100 text-extra-small text-uppercase text-center">Mill Aesthetic Center</p>
            </div>
            <div class="hover-title-box padding-55px-lr w-300px md-w-100 md-padding-20px-lr">
              <div class="separator w-50px bg-deep-pink d-none d-xl-inline-block sm-margin-lr-auto"></div>
              <h3 class="font-weight-400 text-deep-pink alt-font">HardDot Stone</h3>
            </div>
          </div>
        </div>
        <!-- end slider item -->
        <!-- start slider item -->
        <div class="swiper-slide w-auto sm-h-auto last-paragraph-no-margin sm-margin-20px-bottom">
          <div class="h-100 d-flex align-items-center">
            <div class="d-block position-relative">
              <%= image_tag('img/img9.png') %>
              <p class="bottom-text w-100 text-extra-small text-uppercase text-center">Mill Aesthetic Center</p>
            </div>
            <div class="hover-title-box padding-55px-lr w-300px sm-w-100 sm-padding-20px-lr">
              <div class="separator w-50px bg-deep-pink d-none d-xl-inline-block sm-margin-lr-auto"></div>
              <h3 class="font-weight-400 text-deep-pink alt-font">Violator Series</h3>
            </div>
          </div>
        </div>
        <!-- end slider item -->
        <!-- start slider item -->
        <div class="swiper-slide w-auto sm-h-auto last-paragraph-no-margin sm-margin-20px-bottom">
          <div class="h-100 d-flex align-items-center">
            <div class="d-block position-relative">
              <%= image_tag('img/img10.png') %>
              <p class="bottom-text w-100 text-extra-small text-uppercase text-center">Mill Aesthetic Center</p>
            </div>
            <div class="hover-title-box padding-55px-lr w-300px md-w-100 md-padding-20px-lr">
              <div class="separator w-50px bg-deep-pink d-none d-xl-inline-block sm-margin-lr-auto"></div>
              <h3 class="font-weight-400 text-deep-pink alt-font">Sunbathing Series</h3>
            </div>
          </div>
        </div>
        <!-- end slider item -->
        <div class="swiper-slide w-150px sm-w-100 sm-h-auto">
        </div>
      </div>
      <!-- start slider swiper pagination -->
      <div class="swiper-scrollbar d-none d-md-inline-block"></div>
      <div class="swiper-pagination-vertical position-fixed bullet-deep-pink z-index-5"></div>
      <!-- end slider swiper pagination -->
    </div>
  </div>
</section>
<!-- end slider section -->
