<%
  current_time = Time.current
  upcoming_events = @events.select { |e| e.published_date && e.published_date >= current_time }
  past_events = @events.select { |e| e.published_date.nil? || e.published_date < current_time }.reverse
%>

<%= content_for :head do %>
    <%= stylesheet_link_tag "public.css" %>
<% end %>

<section class="big-section event-list-section wow animate__fadeIn">
    <div class="container">
        <!-- Upcoming Events -->
        <% if upcoming_events.any? %>
            <% upcoming_events.each_with_index do |event, index| %>
                <div class="row mb-5 align-items-center wow animate__fadeInUp">
                    <!-- Left: Title (Sticky-like behavior visually) -->
                    <div class="col-12 col-md-3 align-self-start">
                        <% if index == 0 %>
                            <h3 class="event-group-title mt-2">Upcoming Events</h3>
                        <% end %>
                    </div>
                    <!-- Center: Image -->
                    <div class="col-12 col-md-5 event-image-container mb-md-0">
                        <% if event.image.attached? %>
                            <%= image_tag event.image, class: "event-image" %>
                        <% end %>
                    </div>
                    <!-- Right: Content -->
                    <div class="col-12 col-md-4 ps-md-5">
                       <span class="event-date d-block"><%= event.published_date.strftime("%B %d, %Y") if event.published_date %></span>
                       <a href="<%= event_path(event) %>" class="event-list-title text-large text-script d-block"><%= event.title %></a>
                       <a href="<%= event_path(event) %>" class="event-read-more link-underline-style">Read More</a>
                    </div>
                </div>
            <% end %>
            <div class="mb-5"></div>
        <% end %>

        <!-- Past Events -->
        <% if past_events.any? %>
            <% past_events.each_with_index do |event, index| %>
                <div class="row mb-5 align-items-center wow animate__fadeInUp">
                    <div class="col-12 col-md-3 align-self-start">
                        <% if index == 0 %>
                            <h3 class="event-group-title mt-2">Past Events</h3>
                        <% end %>
                    </div>
                    <div class="col-12 col-md-5 event-image-container mb-md-0">
                        <% if event.image.attached? %>
                            <%= image_tag event.image, class: "event-image" %>
                        <% end %>
                    </div>
                    <div class="col-12 col-md-4 ps-md-5">
                       <span class="event-date d-block"><%= event.published_date.strftime("%B %d, %Y") if event.published_date %></span>
                       <a href="<%= event_path(event) %>" class="event-list-title text-large text-script d-block"><%= event.title %></a>
                       <a href="<%= event_path(event) %>" class="event-read-more link-underline-style">Read More</a>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</section>
