<%= render "shared/small_banner" %>
<section class="pb-5 wow animate__fadeIn fadeInUp">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12 col-lg-9 col-md-10 mx-auto text-center">
              <h3 class="alt-font text-extra-dark-gray font-weight-400 margin-40px-bottom sm-margin-20px-bottom"><%= @event.title %></h3>
              <p class="w-90 mx-auto d-inline-block sm-w-100"><%= @event.short_description %></p>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 margin-40px-bottom sm-margin-20px-bottom wow animate__fadeInUp">
              <div class="margin-20px-bottom overflow-hidden">
                  <%= image_tag url_for(@event.image.variant(resize_to_fill: [1024, 450])), class: "w-100" %>
              </div>
          </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 col-md-10 mx-auto line-height-28 last-paragraph-no-margin wow animate__fadeInUp">
              <%= raw @event.content %>
            </div>
        </div>
    </div>
</section>
<%= render "other_events" %>
