<%= render "banner" %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 filter-content overflow-hidden">
        <div class="text-center w-70 sm-w-100 mx-auto margin-50px-bottom sm-margin-20px-bottom">
          <h3 style="text-transform: uppercase; letter-spacing: 1px;" class="">OUR PROJECTS</h3>
          <p>Along with the finished structure, we care about the experience it creates. By framing light, views, and air with precision, we connect interiors to their surroundings while maintaining comfort and performance. Through every collaboration, we demonstrate how aluminium design can transform spaces into lasting environments of clarity and elegance.</p>
        </div>
        <ul class="hover-option2 portfolio-wrapper grid grid-loading grid-2col xl-grid-2col lg-grid-2col md-grid-2col sm-grid-2col xs-grid-1col gutter-medium">
          <li class="grid-sizer"></li>
          <% @projects.each do |project| %>
            <!-- start  portfolio item -->
            <li class="grid-item web branding design wow animate__fadeInUp last-paragraph-no-margin">
              <a href="<%= project_path(project) %>">
                <figure>
                  <div class="portfolio-img bg-deep-pink">
                    <%= image_tag(project.image.variant(resize_to_fill: [600, 600]), alt: project.name) %>
                  </div>
                  <figcaption>
                    <div class="portfolio-hover-main text-start">
                      <div class="portfolio-hover-box align-bottom">
                        <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                          <div class="bg-teal margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                          <span class="line-height-normal alt-font text-white-2 text-uppercase text-uppercase margin-one-half-bottom d-block font-weight-600"><%= project.name %></span>
                          <p class="text-white-2 text-extra-small"><%= project.caption %></p>
                        </div>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </a>
            </li>
            <!-- end portfolio item -->
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>

