<%= render "banner" %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 filter-content overflow-hidden">
        <div class="text-center w-70 sm-w-100 mx-auto margin-50px-bottom sm-margin-20px-bottom">
          <h3 style="text-transform: uppercase; letter-spacing: 1px;" class="">OUR PRODUCTS</h3>
          <p>More than just variety, our range is about finding the right solution for every environment. Whether for a modern residence or a large-scale project, MiLL Aluminium products combine design, durability, and performance to meet unique architectural visions. With every frame, we provide not just function, but a new way to shape your space.</p>
        </div>
        <div class="row justify-content-center">
          <% @products.each do |product| %>
            <!-- start products item -->
            <div class="col-12 col-md-4 margin-40px-bottom sm-margin-20px-bottom wow animate__fadeInUp">
              <div class="margin-20px-bottom overflow-hidden image-hover-style-1">
                <a href="<%= product_path(product) %>">
                  <% if product.images.attached? && product.images[0] %>
                    <%= image_tag url_for(product.images[0].variant(resize_to_fill: [360, 380])), class: "w-100", alt: product.code %>
                  <% end %>
                </a>
              </div>
              <div>
                <a href="<%= product_path(product) %>" class="alt-font d-block text-extra-large text-uppercase font-weight-400"><%= product.code %></a>
              </div>
            </div>
            <!-- end products item -->
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

