<%= render "banner" %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 filter-content overflow-hidden">
        <ul class="hover-option2 portfolio-wrapper grid grid-loading grid-2col xl-grid-2col lg-grid-2col md-grid-2col sm-grid-2col xs-grid-1col gutter-medium">
          <li class="grid-sizer"></li>
          <% @products.each do |product| %>
            <!-- start  portfolio item -->
            <li class="grid-item web branding design wow animate__fadeInUp last-paragraph-no-margin">
              <a href="<%= product_path(product) %>">
                <figure>
                  <div class="portfolio-img bg-deep-pink">
                    <%= image_tag(product.image.variant(resize_to_fill: [600, 600]), alt: product.name) %>
                  </div>
                  <figcaption>
                    <div class="portfolio-hover-main text-start">
                      <div class="portfolio-hover-box align-bottom">
                        <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                          <div class="bg-teal margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                          <span class="line-height-normal alt-font text-white-2 text-uppercase text-uppercase margin-one-half-bottom d-block font-weight-600"><%= product.name %></span>
                          <p class="text-white-2 text-uppercase text-extra-small"><%= product.caption %></p>
                        </div>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </a>
            </li>
            <!-- end portfolio item -->
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>

