<!-- start parallax hero section -->
<section class="wow animate__fadeIn p-0 overflow-visible parallax cover-background" data-parallax-background-ratio="0.5" style="background-image:url('<%= url_for(@product.banner) %>');">
    <div class="container-fluid padding-thirteen-lr one-fourth-screen sm-padding-15px-lr">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center position-relative">
              <h3 class="font-weight-500 text-white-2 text-script mb-0">
                <%= @product.name %>
              </h3>
            </div>
        </div>
    </div>
</section>
<!-- end parallax hero section -->
<section class="big-section pb-5 wow animate__fadeIn fadeInUp">
    <!-- Content & Gallery -->
    <div class="container">
        <!-- Short Description -->
        <div class="row mb-5">
            <!-- Left: Images index 0 -->
            <div class="col-12 col-lg-5 mx-auto order-lg-1 order-2 wow animate__fadeInLeft">
                <%= image_tag @product.images[0], class: "product-gallery-image" if @product.images.attached? && @product.images[0] %>
            </div>
            <!-- Right: Description -->
            <div class="col-12 col-lg-6 padding-ten-all sm-padding-10px-all mx-auto order-lg-2 order-1 wow animate__fadeInRight">
                <%= raw @product.short_description %>
            </div>
        </div>

        <!-- Description -->
        <div class="row mb-5">
            <!-- Left: Description -->
            <div class="col-12 col-lg-6 padding-ten-all sm-padding-10px-all mx-auto wow animate__fadeInLeft">
                <%= raw @product.description %>
            </div>
            <!-- Right: Images index 1 -->
            <div class="col-12 col-lg-6 mx-auto wow animate__fadeInRight">
                <%= image_tag @product.images[1], class: "product-gallery-image" if @product.images.attached? && @product.images[1] %>
            </div>
        </div>
    </div>
</section>
<%= render "other_products" %>
